### IntelliJ IDEA ###
.idea/
*.iml

# Exclude build output
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Maven ###
target/

### Gradle ###
.build/
.gradle/

### Logs ###
*.log

### OS-specific ###
.DS_Store
Thumbs.db


### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
